<div class="menu">
    <a href="portfolio">Portfolio</a>
    <a href="">How can I help you?</a>
    <hr/>
</div>

<header>
    <div class="logo-container">
        <a class="logo" href="{{ site.url }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
    </div>

    <div class="author-container"><h1>Game Copy Polish</h1></div>
    <div class="tagline-container"><p>I'm Ian Tyrrell, and I'd love to help you with copyediting, proofreading, and general copy polish (for your games)</p></div>

    <ul class="fa-ul main-list">
        <li class="main-list-item">
            <a href="mailto://game.copy.polish@gmail.com"><i class="fa fa-envelope-o fa-lg main-list-item-icon"></i>&nbsp;GameCopyPolish@gmail.com</a>
        </li>
        <li class="main-list-item">
            <a href="https://twitter.com/GameCopyPolish"><i class="fa fa-twitter fa-lg main-list-item-icon"></i>&nbsp;@GameCopyPolish</a>
        </li>
    </ul>
</header>